#login-form-container
{
    margin-top: calc(50vh - 200px);
}

#login-form-col
{
    height: 400px;
}

.form-control
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.shadow-border
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
}

.bg-purple 
{
    background-color: var(--purple); 
}

.bg-purple-alt
{
    background-color: #8b67cd;
}

.bg-tertiary
{
    background-color: #B7B7B7;
}

.screensized
{
    min-height: calc(100vh - 60px);
}

.chatscreen
{
    min-height: calc(100vh - 60px - 45px);
}

.toggle-side-nav
{
    display: block !important;

}

.navbar-top
{
    min-height: 60px;
}

a
{
    color:#cecece;
}

.nav-icon
{
    width: 30px;
}

.active
{
    color:white !important;
}

.footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}

.scroll
{
    overflow-y: scroll;
}

.chat-title
{
    height: 70px;
}

.chat-box
{
    height: calc(100vh - 190px);
}

.img-icon
{
    max-width:200px;
}